<ion-content>
  <div class="profileIcon">
    <ion-icon name="today-outline"></ion-icon>
  </div>
  <ion-infinite-scroll threshold="100px" >
    <ion-infinite-scroll-content oadingSpinner="bubbles" loadingText="Loading more data...">
      <ion-list>
        <ion-item href="/hours-screen" detail="true" button>
          <ion-label>
            <h3>Obra 1</h3>
            <p>Pulsa aquí para imputar las horas.</p>
          </ion-label>
        </ion-item>

        <ion-item href="/hours-screen" detail="true" button>
          <ion-label>
            <h3>Obra 2</h3>
            <p>Pulsa aquí para imputar las horas.</p>
          </ion-label>
        </ion-item>

        <ion-item href="/hours-screen" detail="true" button>
          <ion-label>
            <h3>Obra 3</h3>
            <p>Pulsa aquí para imputar las horas.</p>
          </ion-label>
        </ion-item>

        <ion-item href="/hours-screen" detail="true" button>
          <ion-label>
            <h3>Obra 4</h3>
            <p>Pulsa aquí para imputar las horas.</p>
          </ion-label>
        </ion-item>

        <ion-item href="/hours-screen" detail="true" button>
          <ion-label>
            <h3>Obra n</h3>
            <p>Pulsa aquí para imputar las horas.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- Imputación de otras horas no trabajadas -->
  <!-- TODO: Tener en cuenta los motivos por los que se imputan las horas -->
  <ion-card>
    <ion-card-header> <strong> Otros motivos </strong>  </ion-card-header>
    <ion-card-content class="centerContent">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button href="/hours-screen" icon-start>
              <ion-icon name="boat-outline"></ion-icon>
              Vacaciones
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button href="/hours-screen" icon-start>
              <ion-icon name="fitness-outline"></ion-icon>
              Médico
            </ion-button>
          </ion-col>
          <ion-col style="text-align: center;">
            <ion-button href="/hours-screen" icon-start>
              <ion-icon name="help-circle-outline"></ion-icon>
              Asuntos propios
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
