<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Imputación de horas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Hora de fin -->
  <ion-card>
    <ion-card-content>
      <ion-label> Hora de inicio </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <input type="time">
          </ion-col>
          <ion-col>
            <input type="date">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Hora de inicio -->
  <ion-card>
    <ion-card-content>
      <ion-label> Hora de fin </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <input type="time">
          </ion-col>
          <ion-col>
            <input type="date">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>