<ion-header>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Datos del empleado</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="profileIcon">
        <ion-icon name="people-circle-outline"></ion-icon>
      </div>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input placeholder="Nombre empleado" [disabled]="true"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellidos</ion-label>
      <ion-input placeholder="Apellidos empleado" [disabled]="true"></ion-input>
    </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>