<ion-header>
  <ion-toolbar>
    <ion-title class="center"> WORK PLACE </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-card>
    <ion-card-header> 
      <ion-card-title> Inicio de sesión </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating"> Usuario </ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" placeholder="USUARIO" required="required">
          </ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating"> Contraseña </ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" placeholder="CONTRASEÑA"
            required="required">
          </ion-input>
        </ion-item>
        <ion-row class="center">
          <ion-col>
            <ion-button shape="round" color="danger" (click)="login()"> Iniciar sesión </ion-button>
            <!-- <a [routerLink]="['/forgot-password']" class="small-text"> Olvidé mi contraseña </a> -->
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>